.profile-card {
    padding: 2.5rem 0;
    max-width: 575px;
    margin: 0 auto;
    background: rgb(183,21,64);
    background: radial-gradient(circle, rgba($color-primary, 1) 0%, rgba($color-secondary, 1) 100%);
}